.blah{
    color: orange, whitesmoke;
    color: olivedrab;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(244, 244, 244);
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 84, 97);
}

.container{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    overflow: hidden;
    /* background: rgb(244, 244, 244); */
    height: 500px;
    width: min(800px, 80vw);
    /* padding: 20px; */
    box-shadow: 0px 0px 20px rgb(0, 183, 181);
}

.form-container{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 80%;
    padding: auto 40px;
    /* border: 2px solid black; */
}

.form-container h2{
    font-size: 48px;
    margin-bottom: 50px;
}

.form-container .login-info{
    width: 100%;
    /* background: #000; */
    height: 40px;
    margin-bottom: 40px;
    position: relative;
}

.login-info input{
    width: 100%;
    height: 100%;
    color: rgb(244, 244, 244);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(244, 244, 244);
    font-size: 22px;

}

.login-info label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    pointer-events: none;
    transition: all 0.5s;
}

.login-info input:focus~label,
.login-info input:valid~label{
    top: -10px;
    color: rgb(0, 183, 181);
}
.login-info input:focus,
.login-info input:valid{
    border-color: rgb(0, 183, 181);
}


.options{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.options label input{
    height: 15px;
    width: 15px;
}

.options a{
    text-decoration: none;
    transition: all 0.5s;
}

.options a:hover{
    text-decoration: underline;
}

.login-btn{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: none;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid rgb(0, 183, 181);
    border-radius: 30px;
    transition: all 0.5s;
}

.login-btn:hover{
    background: rgb(0, 183, 181);
    /* font-size: 28px; */
}

.design{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translatex(50%);
    background: rgb(0, 183, 181);
    border-radius: 30% / 50%;
}

.text{
    border-radius: 50%;
    margin-top: 90px;
    padding-right: 20px;
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    text-align: center;
}

.text h2{
    font-size: 55px;
    margin-bottom: 30px;
}

.text p{
    font-size: 24px;
}

@media (max-width: 768px) {
   .design{
    display: none;
   }
   .text{
    display: none;
   }

   .form-container{
    width: 100%;
   }
}