*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 200vh;
}

.navigation{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navigation nav{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 12px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
    color: blueviolet;
    background: white;
    border: 1px solid black;
    border-radius: 300px;
    box-shadow: 3px 3px 3px blueviolet;
    transition: all 0.5s;
}

.logo:hover{
    color: white;
    background-color: blueviolet;
    box-shadow: 3px 3px 3px black;
}

.navigation nav .nav-links a{
    text-decoration: none;
    font-size: 32px;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: black;
    transition: all 0.2s;
}

.navigation nav .nav-links a:hover{
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}


.content{
    display: flex;
    flex-direction: column;
    /* width: 100vw;` */
    margin-top: 10vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 40%;
    height: 65vh;
}

#hello{
    color: blueviolet;
}

.info-container h1{
    margin-top: -60px;
    font-size: 7em;
    color: blueviolet;
    font-family:  Arial, Helvetica, sans-serif;
}
.info-container h3{
    margin-top: 60px;
    /* color: blueviolet; */
    font-size: 3em;
}
.info-container p{
    /* margin-top: 10px; */
    font-size: 1.5em;
}


.call-buttons button{
    padding: 15px 60px;
    color: white;
    background: blueviolet;
    font-size: 1.8em;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 30px;
    opacity: 0.9;
}

.call-buttons :first-child{
    box-shadow: 5px 5px blueviolet;
    background: black;
}

.call-buttons button:hover{
    opacity: 1;
}

.img-container{
    margin-left: -170px;
    position: relative;
    margin-top: 30px;
}

.img-container img{
    /* border-bottom: 20px solid black; */
    /* border-right: 20px solid black; */
    height: 70vh;
    border-radius: 50%;
    /* transition: all 1s; */
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid black;
    border-right: 20px solid black;
    border-radius: 50%;
    transition: all 1.5s;
    transition-timing-function: ease-in-out;
}

.circle:hover{
    /* border-color: blueviolet; */
    transform: rotate(360deg);
}

.skills-container{
    background-color: black;
    color: white;
    /* width: 100vw; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10vh;
    padding: 15px 15px 90px 15px;
    border: 2px solid black;
    scroll-margin-top: 80px;

}

.skills-container h1{
    color: rgb(176, 128, 221);
    font-size: 4em;
    letter-spacing: 4px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    /* margin-top: 20px; */

}

.skill-card{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 42%;
    height: 40vh;
    border: 2px solid black;
    box-shadow: 3px 3px 20px blueviolet;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    overflow: hidden;
    /* padding: 20px; */
}

.skill-card h3{
    font-size: 4em;
    color: rgb(215, 173, 255);
}

.frontend{
    background: url(/images/frontend-1.jpg);
}
.backend{
    background: url("https://media.geeksforgeeks.org/wp-content/uploads/20240701150157/Backend-Development.webp");
}
.tools{
    background: url(/images/tools\ bg.png);
    background-size: cover;
}
.ai-ml{
    background: url(/images/aiml-post-image-3.webp);
    background-size: cover;
}

.skill-card ul li{
    list-style-type: none;
    font-size: 2em;
}

.skill-card ul{
    margin-top: 20px;
    width: 80%;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(137, 43, 226, 0.8), black);
    transform: translateY(100%);
    transition: all 1s;
}

.skill-card:hover .slider{
    transform: translateY(0);
}

.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
    padding: 20px;
    /* border: 2px solid black; */
    scroll-margin-top: 10vh;
}

.projects-section h2{
    font-size: 4em;
    margin-bottom: 80px;
    color: blueviolet;

}

.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 25vw;
    padding: 30px;
    /* overflow: hidden; */
    /* border: 3px solid blueviolet; */
    box-shadow: 2px 2px 10px blueviolet;
    /* margin: auto 20px */
}

.project img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 20px auto 30px auto;
}
.project p{
    font-size: 1.5em;
    text-align: center;
}

#read-more{
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#read-more:hover{
    opacity: 1;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: #000;
}

#contact div h2{
    font-size: 7em;
    color: rgb(171, 99, 237);
}
#contact div p{
    font-size: 1.5em;
    color: rgb(171, 99, 237);
}

.contact-links{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.contact-links a{
    text-decoration: none;
    color: white;
    font-size: 2.5em;
}

footer{
    text-align: center;
    font-size: 1.4em;
    background: #000;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    padding: 8px;
}